<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <!--[if IE]><![endif]-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://demo.themeisle.com/zerif-lite/xmlrpc.php">
    <!--[if lt IE 9]> <script src="wp-content/themes/zerif-lite/js/html5.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/js/html5.js"></script> <link rel="stylesheet" href="wp-content/themes/zerif-lite/css/ie.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/css/ie.css" type="text/css"> <![endif]-->
    <title>Zerif Lite - Just another Demos Sites site</title>
    <script type="text/javascript">
        var ajaxurl = 'wp-admin/admin-ajax.php.htm' /*tpa=http://demo.themeisle.com/zerif-lite/wp-admin/admin-ajax.php*/;
    </script>
    <meta name="description" content="Just another Demos Sites site" />
    <meta name="robots" content="noodp" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Zerif Lite - Just another Demos Sites site" />
    <meta property="og:description" content="Just another Demos Sites site" />
    <meta property="og:site_name" content="Zerif Lite" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Just another Demos Sites site" />
    <meta name="twitter:title" content="Zerif Lite - Just another Demos Sites site" />
    <script type='application/ld+json'>
        {"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/demo.themeisle.com\/zerif-lite\/","name":"Zerif Lite","potentialAction":{"@type":"SearchAction","target":"http:\/\/demo.themeisle.com\/zerif-lite\/?s={search_term_string}","query-input":"required name=search_term_string"}}
    </script>
    <link rel="alternate" type="application/rss+xml" title="Zerif Lite &raquo; Feed" href="http://demo.themeisle.com/zerif-lite/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Zerif Lite &raquo; Comments Feed" href="http://demo.themeisle.com/zerif-lite/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/",
            "ext": ".png",
            "source": {
                "concatemoji": "http:\/\/demo.themeisle.com\/zerif-lite\/wp-includes\/js\/wp-emoji-release.min.js"
            }
        };
        ! function (a, b, c) {
            function d(a) {
                var c, d, e, f = b.createElement("canvas"),
                    g = f.getContext && f.getContext("2d"),
                    h = String.fromCharCode;
                if (!g || !g.fillText) return !1;
                switch (g.textBaseline = "top", g.font = "600 32px Arial", a) {
                    case "flag":
                        return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3;
                    case "diversity":
                        return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e;
                    case "simple":
                        return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0];
                    case "unicode8":
                        return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]
                }
                return !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var f, g, h, i;
            for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (g = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='pirate_forms_front_styles-css' href="wp-content/plugins/pirate-forms/css/front.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/pirate-forms/css/front.css" type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css' href="wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css-ver=2.5.5.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.5.5" type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href="wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css-ver=2.5.5.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.5.5" type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href="wp-content/plugins/woocommerce/assets/css/woocommerce.css-ver=2.5.5.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.5.5" type='text/css' media='all' />
    <link rel='stylesheet' id='megamenu-css' href="wp-content/uploads/sites/51/maxmegamenu/style.css-ver=c5b68e.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/maxmegamenu/style.css?ver=c5b68e" type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href="wp-includes/css/dashicons.min.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-includes/css/dashicons.min.css" type='text/css' media='all' />
    <link rel='stylesheet' id='zerif_font-css' href="../../fonts.googleapis.com/css-family=Lato-300,400,700,400italic-Montserrat-700-Homemade+Apple&subset=latin,latin-ext.css" tppabs="http://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C400italic%7CMontserrat%3A700%7CHomemade+Apple&subset=latin%2Clatin-ext" type='text/css' media='all' />
    <link rel='stylesheet' id='zerif_font_all-css' href="../../fonts.googleapis.com/css-family=Open+Sans-400,300,300italic,400italic,600italic,600,700,700italic,800,800italic.css" tppabs="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C600italic%2C600%2C700%2C700italic%2C800%2C800italic" type='text/css' media='all' />
    <link rel='stylesheet' id='zerif_bootstrap_style-css' href="wp-content/themes/zerif-lite/css/bootstrap.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/css/bootstrap.css" type='text/css' media='all' />
    <link rel='stylesheet' id='zerif_fontawesome-css' href="wp-content/themes/zerif-lite/css/font-awesome.min.css-ver=v1.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/css/font-awesome.min.css?ver=v1" type='text/css' media='all' />
    <link rel='stylesheet' id='zerif_style-css' href="wp-content/themes/zerif-lite/style.css-ver=v1.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/style.css?ver=v1" type='text/css' media='all' />
    <link rel='stylesheet' id='zerif_responsive_style-css' href="wp-content/themes/zerif-lite/css/responsive.css-ver=v1.css" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/css/responsive.css?ver=v1" type='text/css' media='all' />
    <link rel='stylesheet' id='sccss_style-css' href="../zerif-lite-sccss=1.css" tppabs="http://demo.themeisle.com/zerif-lite?sccss=1" type='text/css' media='all' />
    <script type='text/javascript' src="wp-includes/js/jquery/jquery.js-ver=1.12.4.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type='text/javascript' src="wp-includes/js/jquery/jquery-migrate.min.js-ver=1.4.1.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
    <script type='text/javascript'>
        /*  */
        var pirateFormsObject = {
            "errors": ""
        };
        /*  */
    </script>
    <script type='text/javascript' src="wp-content/plugins/pirate-forms/js/scripts-general.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/pirate-forms/js/scripts-general.js"></script>
    <link rel='https://api.w.org/' href='http://demo.themeisle.com/zerif-lite/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.themeisle.com/zerif-lite/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.themeisle.com/zerif-lite/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.3" />
    <meta name="generator" content="WooCommerce 2.5.5" />
    <link rel="canonical" href="http://themeisle.com/themes/zerif-lite/" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-image: url('wp-content/themes/zerif-lite/images/bg.jpg')
            /*tpa=http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/images/bg.jpg*/
            ;
            background-repeat: repeat;
            background-position: top center;
            background-attachment: fixed;
        }
    </style>
    <script data-no-minify="1" data-cfasync="false">
        (function (w, d) {
            function a() {
                var b = d.createElement("script");
                b.async = !0;
                b.src = "wp-content/plugins/wp-rocket/inc/front/js/lazyload.1.0.4.min.js" /*tpa=http://demo.themeisle.com/zerif-lite/wp-content/plugins/wp-rocket/inc/front/js/lazyload.1.0.4.min.js*/;
                var a = d.getElementsByTagName("script")[0];
                a.parentNode.insertBefore(b, a)
            }
            w.attachEvent ? w.attachEvent("onload", a) : w.addEventListener("load", a, !1)
        })(window, document);
    </script>
</head>

<body class="home blog custom-background">
    <div id="mobilebgfix">
        <div class="mobile-bg-fix-img-wrap">
            <div class="mobile-bg-fix-img"></div>
        </div>
        <div class="mobile-bg-fix-whole-site">
            <header id="home" class="header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
                <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
                    <div class="container">
                        <div class="navbar-header responsive-logo">
                            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a href="index.htm" tppabs="http://demo.themeisle.com/zerif-lite/" class="navbar-brand">
                                <img src="wp-content/themes/zerif-lite/images/logo.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/images/logo.png" alt="Zerif Lite">
                            </a>
                        </div>
                        <nav class="navbar-collapse bs-navbar-collapse collapse" id="site-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                            <a class="screen-reader-text skip-link" href="#content">Skip to content</a>
                            <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
                                <div class="mega-menu-toggle">
                                    <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-right' id='mega-toggle-block-1'></div>
                                </div>
                                <ul id="mega-menu-primary" class="mega-menu mega-menu-horizontal mega-no-js" data-event="hover" data-effect="disabled" data-second-click="close" data-document-click="collapse" data-reverse-mobile-items="true" data-vertical-behaviour="standard" data-breakpoint="600">
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home  mega-align-bottom-left mega-menu-megamenu mega-menu-item-18241' id='mega-menu-item-18241'>
                                        <a class="mega-menu-link" href="index.htm#focus" tppabs="http://demo.themeisle.com/zerif-lite/#focus">Features</a>
                                       
                                    </li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18243' id='mega-menu-item-18243'>
                                        <a class="mega-menu-link" href="index.htm#aboutus" tppabs="http://demo.themeisle.com/zerif-lite/#aboutus">About</a>
                                    </li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18244' id='mega-menu-item-18244'>
                                        <a class="mega-menu-link" href="index.htm#team" tppabs="http://demo.themeisle.com/zerif-lite/#team">Team</a>
                                    </li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18247' id='mega-menu-item-18247'>
                                        <a class="mega-menu-link" href="index.htm#testimonials" tppabs="http://demo.themeisle.com/zerif-lite/#testimonials">Testimonials</a>
                                    </li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18248' id='mega-menu-item-18248'>
                                        <a class="mega-menu-link" href="index.htm#contact" tppabs="http://demo.themeisle.com/zerif-lite/#contact">Contact</a>
                                    </li>
                                    <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-18239' id='mega-menu-item-18239'>
                                        <a class="dashicons-cart mega-menu-link" href="shop/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/shop/">Shop</a>
                                        <ul class="mega-sub-menu">
                                            <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-18271' id='mega-menu-item-18271'>
                                                <a class="dashicons-grid-view mega-menu-link" href="shop/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/shop/">All Products</a>
                                            </li>
                                            <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-18264' id='mega-menu-item-18264'>
                                                <a class="dashicons-carrot mega-menu-link" href="product/cafeteria-cake/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/product/cafeteria-cake/">Single Product</a>
                                            </li>
                                            <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-18262' id='mega-menu-item-18262'>
                                                <a class="dashicons-cart mega-menu-link" href="cart/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/cart/">Cart</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-18232' id='mega-menu-item-18232'>
                                        <a class="mega-menu-link" href="blog/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/blog/">Blog</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>


                <div class="home-header-wrap">
                    <div class="header-content-wrap">
                        <div class="container">
                            <h1 class="intro-text">ONE OF THE TOP 10 MOST POPULAR THEMES ON WORDPRESS.ORG</h1>
                            <div class="buttons">
                                <a href="index.htm#focus" tppabs="http://demo.themeisle.com/zerif-lite/#focus" class="btn btn-primary custom-button red-btn">Features</a><a href="javascript:if(confirm(%27http://themeisle.com/themes/zerif-lite/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://themeisle.com/themes/zerif-lite/#pricing-single%27" tppabs="http://themeisle.com/themes/zerif-lite/#pricing-single" class="btn btn-primary custom-button green-btn">Download Zerif Lite</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </header>
            <div id="content" class="site-content">
                <section class="focus" id="focus">
                    <div class="container">
                        <div class="section-header">
                            <h2 class="dark-text">FEATURES</h2>
                            <div class="section-legend">What makes this single-page WordPress theme unique.</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                                <div class="service-icon">
                                    <a href="#"><i class="pixeden" style="background:url(wp-content/uploads/sites/51/2015/05/parallax.png)/*tpa=http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/05/parallax.png*/ no-repeat center;width:100%; height:100%;"></i> </a>
                                </div>
                                <h3 class="red-border-bottom">PARALLAX EFFECT</h3>
                                <p>Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>
                            </div>
                            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                                <div class="service-icon">
                                    <a href="#"><i class="pixeden" style="background:url(wp-content/uploads/sites/51/2015/05/woo.png)/*tpa=http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/05/woo.png*/ no-repeat center;width:100%; height:100%;"></i> </a>
                                </div>
                                <h3 class="red-border-bottom">WOOCOMMERCE</h3>
                                <p>Build a front page for your WooCommerce store in a matter of minutes. The neat and clean presentation will help your sales and make your store accessible to everyone.</p>
                            </div>
                            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                                <div class="service-icon">
                                    <a href="#"><i class="pixeden" style="background:url(wp-content/uploads/sites/51/2015/05/ccc.png)/*tpa=http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/05/ccc.png*/ no-repeat center;width:100%; height:100%;"></i> </a>
                                </div>
                                <h3 class="red-border-bottom">CUSTOM CONTENT BLOCKS</h3>
                                <p>Showcase your team, products, clients, about info, testimonials, latest posts from the blog, contact form, additional calls to action. Everything translation ready.</p>
                            </div>
                            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                                <div class="service-icon">
                                    <a href="#"><i class="pixeden" style="background:url(wp-content/uploads/sites/51/2015/05/ti-logo.png)/*tpa=http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/05/ti-logo.png*/ no-repeat center;width:100%; height:100%;"></i> </a>
                                </div>
                                <h3 class="red-border-bottom">GO PRO FOR MORE FEATURES</h3>
                                <p>Get new content blocks: pricing table, Google Maps, and more. Change the sections order, display each block exactly where you need it, customize the blocks with whatever colors you wish.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="separator-one" id="ribbon_bottom">
                    <div class="color-overlay">
                        <h3 class="container text" data-scrollreveal="enter left after 0s over 1s">Check out this cool parallax scrolling effect. Plus, you can change the background image.</h3>
                        <div data-scrollreveal="enter right after 0s over 1s">
                            <a href="#" class="btn btn-primary custom-button green-btn">button</a>
                        </div>
                    </div>
                </section>
                <section class="about-us" id="aboutus">
                    <div class="container">
                        <div class="section-header">
                            <h2 class="white-text">About</h2>
                            <div class="white-text section-legend">Use this section to showcase important details about your business.</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 column zerif-rtl-big-title">
                                <div class="big-intro" data-scrollreveal="enter left after 0s over 1s">Everything you see here is responsive and mobile-friendly.</div>
                            </div>
                            <div class="col-lg-4 col-md-4 column zerif_about_us_center text_and_skills" data-scrollreveal="enter bottom after 0s over 1s">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec massa enim. Aliquam viverra at est ullamcorper sollicitudin. Proin a leo sit amet nunc malesuada imperdiet pharetra ut eros.
                                    <br>
                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec massa enim. Aliquam viverra at est ullamcorper sollicitudin. Proin a leo sit amet nunc malesuada imperdiet pharetra ut eros.
                                    <br>
                                    <br>Mauris vel nunc at ipsum fermentum pellentesque quis ut massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas non adipiscing massa. Sed ut fringilla sapien. Cras sollicitudin, lectus sed tincidunt cursus, magna lectus vehicula augue, a lobortis dui orci et est.
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 column zerif-rtl-skills ">
                                <ul class="skills" data-scrollreveal="enter right after 0s over 1s">
                                    <li class="skill skill_1">
                                        <div class="skill-count">
                                            <input type="text" value="80" data-thickness=".2" class="skill1" tabindex="-1">
                                        </div>
                                        <div class="section-legend">YOUR SKILL #1</div>
                                    </li>
                                    <li class="skill skill_2">
                                        <div class="skill-count">
                                            <input type="text" value="91" data-thickness=".2" class="skill2" tabindex="-1">
                                        </div>
                                        <div class="section-legend">YOUR SKILL #2</div>
                                    </li>
                                    <li class="skill skill_3">
                                        <div class="skill-count">
                                            <input type="text" value="88" data-thickness=".2" class="skill3" tabindex="-1">
                                        </div>
                                        <div class="section-legend">YOUR SKILL #3</div>
                                    </li>
                                    <li class="skill skill_4">
                                        <div class="skill-count">
                                            <input type="text" value="95" data-thickness=".2" class="skill4" tabindex="-1">
                                        </div>
                                        <div class="section-legend">YOUR SKILL #4</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="our-clients">
                            <h2><span class="section-footer-title">OUR HAPPY CLIENTS</span></h2>
                        </div>
                        <div class="client-list">
                            <div data-scrollreveal="enter right move 60px after 0.00s over 2.5s">
                                <a href="#"> <img src="wp-content/uploads/sites/51/2014/09/Unknown.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2014/09/Unknown.png" alt="Client"> </a>
                                <a href="#"> <img src="wp-content/uploads/sites/51/2014/09/Unknown-7.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2014/09/Unknown-7.png" alt="Client"> </a>
                                <a href="#"> <img src="wp-content/uploads/sites/51/2014/09/Unknown-3.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2014/09/Unknown-3.png" alt="Client"> </a>
                                <a href="#"> <img src="wp-content/uploads/sites/51/2014/09/Unknown-4.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2014/09/Unknown-4.png" alt="Client"> </a>
                                <a href="#"> <img src="wp-content/uploads/sites/51/2014/09/Unknown-5.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2014/09/Unknown-5.png" alt="Client"> </a>
                                <a href="#"> <img src="wp-content/uploads/sites/51/2014/09/Unknown-6.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2014/09/Unknown-6.png" alt="Client"> </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="our-team" id="team">
                    <div class="container">
                        <div class="section-header">
                            <h2 class="dark-text">YOUR TEAM</h2>
                            <div class="section-legend">Prove that you have real people working for you, with some nice looking profile pictures and links to social media.</div>
                        </div>
                        <div class="row" data-scrollreveal="enter left after 0s over 0.1s">
                            <div class="col-lg-3 col-sm-3 team-box">
                                <div class="team-member">
                                    <figure class="profile-pic">
                                        <img src="wp-content/uploads/sites/51/2015/11/team1.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/11/team1.png" alt="Uploaded image" />
                                    </figure>
                                    <div class="member-details">
                                        <h3 class="dark-text red-border-bottom">ASHLEY SIMMONS</h3>
                                        <div class="position">Project Manager</div>
                                    </div>
                                    <div class="social-icons">
                                        <ul>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-behance"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus, eros at accumsan auctor, felis eros condimentum quam, non porttitor est urna vel neque</div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 team-box">
                                <div class="team-member">
                                    <figure class="profile-pic">
                                        <img src="wp-content/uploads/sites/51/2015/11/team2.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/11/team2.png" alt="Uploaded image" />
                                    </figure>
                                    <div class="member-details">
                                        <h3 class="dark-text red-border-bottom">TIMOTHY SPRAY</h3>
                                        <div class="position">Art Director</div>
                                    </div>
                                    <div class="social-icons">
                                        <ul>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus, eros at accumsan auctor, felis eros condimentum quam, non porttitor est urna vel neque</div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 team-box">
                                <div class="team-member">
                                    <figure class="profile-pic">
                                        <img src="wp-content/uploads/sites/51/2015/11/team3.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/11/team3.png" alt="Uploaded image" />
                                    </figure>
                                    <div class="member-details">
                                        <h3 class="dark-text red-border-bottom">TONYA GARCIA</h3>
                                        <div class="position">Account Manager</div>
                                    </div>
                                    <div class="social-icons">
                                        <ul>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-behance"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus, eros at accumsan auctor, felis eros condimentum quam, non porttitor est urna vel neque</div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 team-box">
                                <div class="team-member">
                                    <figure class="profile-pic">
                                        <img src="wp-content/uploads/sites/51/2015/11/team4.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/11/team4.png" alt="Uploaded image" />
                                    </figure>
                                    <div class="member-details">
                                        <h3 class="dark-text red-border-bottom">JASON LANE</h3>
                                        <div class="position">Business Development</div>
                                    </div>
                                    <div class="social-icons">
                                        <ul>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-behance"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_self">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus, eros at accumsan auctor, felis eros condimentum quam, non porttitor est urna vel neque</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="testimonial" id="testimonials">
                    <div class="container">
                        <div class="section-header">
                            <h2 class="white-text">Testimonials</h2>
                            <h6 class="white-text section-legend">Get testimonials from your clients and then display them here.</h6>
                        </div>
                        <div class="row" data-scrollreveal="enter right after 0s over 1s">
                            <div class="col-md-12">
                                <div id="client-feedbacks" class="owl-carousel owl-theme  ">
                                    <div class="feedback-box">
                                        <div class="message"> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                                        <div class="client">
                                            <div class="quote red-text">
                                                <i class="icon-fontawesome-webfont-294"></i>
                                            </div>
                                            <div class="client-info">
                                                <a target="_blank" class="client-name" href="#">Dana Lorem</a>
                                            </div>
                                            <div class="client-image hidden-xs">
                                                <img src="wp-content/uploads/sites/51/2015/11/testimonial1.jpg" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/11/testimonial1.jpg" alt="Uploaded image" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feedback-box">
                                        <div class="message"> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                                        <div class="client">
                                            <div class="quote red-text">
                                                <i class="icon-fontawesome-webfont-294"></i>
                                            </div>
                                            <div class="client-info">
                                                <a target="_blank" class="client-name" href="#">Linda Guthrie</a>
                                            </div>
                                            <div class="client-image hidden-xs">
                                                <img src="wp-content/uploads/sites/51/2015/11/testimonial2.jpg" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/11/testimonial2.jpg" alt="Uploaded image" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feedback-box">
                                        <div class="message"> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                                        <div class="client">
                                            <div class="quote red-text">
                                                <i class="icon-fontawesome-webfont-294"></i>
                                            </div>
                                            <div class="client-info">
                                                <a target="_blank" class="client-name" href="#">Cynthia Henry</a>
                                            </div>
                                            <div class="client-image hidden-xs">
                                                <img src="wp-content/uploads/sites/51/2015/11/testimonial3.jpg" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/uploads/sites/51/2015/11/testimonial3.jpg" alt="Uploaded image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="purchase-now" id="ribbon_right">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9" data-scrollreveal="enter left after 0s over 1s">
                                <h3 class="white-text">Use these ribbons to display calls to action mid-page.</h3>
                            </div>
                            <div class="col-md-3" data-scrollreveal="enter right after 0s over 1s">
                                <a href="javascript:if(confirm(%27http://www.codeinwp.com/blog/top-custom-post-types-plugins-for-wordpress/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.codeinwp.com/blog/top-custom-post-types-plugins-for-wordpress/%27" tppabs="http://www.codeinwp.com/blog/top-custom-post-types-plugins-for-wordpress/" class="btn btn-primary custom-button red-btn">View article</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="latest-news" id="latestnews">
                    <div class="container">
                        <div class="section-header">
                            <h2 class="dark-text">Blog / Latest News</h2>
                            <div class="dark-text section-legend">Your latest posts displayed inside a nice slider. You can customize what the slider looks like.</div>
                        </div>
                        <div class="clear"></div>
                        <div id="carousel-homepage-latestnews" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="col-sm-3 latestnews-box">
                                        <div class="latestnews-img">
                                            <a class="latestnews-img-a" href="2015/05/06/built-in-contact-form/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/2015/05/06/built-in-contact-form/" title="Built-in Contact Form">
                                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="../../res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_583,w_583,x_291,y_0/h_250,w_250/v1451480998/contact_xmtyd2.jpg" tppabs="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_583,w_583,x_291,y_0/h_250,w_250/v1451480998/contact_xmtyd2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="contact" />
                                                <noscript>
                                                    <img width="250" height="250" src="../../res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_583,w_583,x_291,y_0/h_250,w_250/v1451480998/contact_xmtyd2.jpg" tppabs="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_583,w_583,x_291,y_0/h_250,w_250/v1451480998/contact_xmtyd2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="contact" />
                                                </noscript>
                                            </a>
                                        </div>
                                        <div class="latesnews-content">
                                            <h3 class="latestnews-title"><a href="2015/05/06/built-in-contact-form/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/2015/05/06/built-in-contact-form/" title="Built-in Contact Form">Built-in Contact Form</a></h3>
                                            <p>It&#8217;s responsive, easy to use, and will encourage your visitors to reach out to you directly.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 latestnews-box">
                                        <div class="latestnews-img">
                                            <a class="latestnews-img-a" href="2015/05/05/zerif-lite-is-a-responsive-theme/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/2015/05/05/zerif-lite-is-a-responsive-theme/" title="Zerif Lite Is Mobile-Friendly and Responsive">
                                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="../../res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_360,w_360,x_120,y_0/h_250,w_250/v1451481190/ToolShed_drib_big-e1406196790312_skjsre.jpg" tppabs="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_360,w_360,x_120,y_0/h_250,w_250/v1451481190/ToolShed_drib_big-e1406196790312_skjsre.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="ToolShed_drib_big-e1406196790312" />
                                                <noscript>
                                                    <img width="250" height="250" src="../../res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_360,w_360,x_120,y_0/h_250,w_250/v1451481190/ToolShed_drib_big-e1406196790312_skjsre.jpg" tppabs="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_360,w_360,x_120,y_0/h_250,w_250/v1451481190/ToolShed_drib_big-e1406196790312_skjsre.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="ToolShed_drib_big-e1406196790312" />
                                                </noscript>
                                            </a>
                                        </div>
                                        <div class="latesnews-content">
                                            <h3 class="latestnews-title"><a href="2015/05/05/zerif-lite-is-a-responsive-theme/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/2015/05/05/zerif-lite-is-a-responsive-theme/" title="Zerif Lite Is Mobile-Friendly and Responsive">Zerif Lite Is Mobile-Friendly and Responsive</a></h3>
                                            <p>Go ahead and try resizing the browser window. Things are going to continue looking great!</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 latestnews-box">
                                        <div class="latestnews-img">
                                            <a class="latestnews-img-a" href="2015/05/04/regular-updates/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/2015/05/04/regular-updates/" title="Regular Updates">
                                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="../../res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480998/chapter4-800_einxp5.png" tppabs="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480998/chapter4-800_einxp5.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="chapter4-800" />
                                                <noscript>
                                                    <img width="250" height="250" src="../../res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480998/chapter4-800_einxp5.png" tppabs="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480998/chapter4-800_einxp5.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="chapter4-800" />
                                                </noscript>
                                            </a>
                                        </div>
                                        <div class="latesnews-content">
                                            <h3 class="latestnews-title"><a href="2015/05/04/regular-updates/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/2015/05/04/regular-updates/" title="Regular Updates">Regular Updates</a></h3>
                                            <p>Nullam posuere, tellus sed eleifend ultricies, magna ligula dictum felis, id pellentesque lectus libero tempus lectus.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 latestnews-box">
                                        <div class="latestnews-img">
                                            <a class="latestnews-img-a" href="2014/08/25/hello-world-2/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/2014/08/25/hello-world-2/" title="Fast &amp; Simple Installation">
                                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="../../res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451481189/dribble_app_icon_uvla2m.png" tppabs="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451481189/dribble_app_icon_uvla2m.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="dribble_app_icon" />
                                                <noscript>
                                                    <img width="250" height="250" src="../../res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451481189/dribble_app_icon_uvla2m.png" tppabs="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451481189/dribble_app_icon_uvla2m.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="dribble_app_icon" />
                                                </noscript>
                                            </a>
                                        </div>
                                        <div class="latesnews-content">
                                            <h3 class="latestnews-title"><a href="2014/08/25/hello-world-2/index.htm" tppabs="http://demo.themeisle.com/zerif-lite/2014/08/25/hello-world-2/" title="Fast &amp; Simple Installation">Fast &amp; Simple Installation</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at placerat lacus, vitae feugiat erat.</p>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-homepage-latestnews" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                            <a class="right carousel-control" href="#carousel-homepage-latestnews" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </section>
                <section class="contact-us" id="contact">
                    <div class="container">
                        <div class="section-header">
                            <h2 class="white-text">Get in touch</h2>
                            <div class="white-text section-legend">Big and mobile-optimized contact form integrated. All fields are customizable.</div>
                        </div>
                        <div class="row">
                            <div class="pirate_forms_wrap">
                                <form method="post" enctype="application/x-www-form-urlencoded" id="pirate_forms_3807" class="pirate_forms ">
                                    <div class="col-sm-4 col-lg-4 form_field_wrap contact_name_wrap pirate_forms_three_inputs  ">
                                        <label for="pirate-forms-contact-name"></label>
                                        <input id="pirate-forms-contact-name" name="pirate-forms-contact-name" required class="form-control" type="text" value="" placeholder="Your Name">
                                    </div>
                                    <div class="col-sm-4 col-lg-4 form_field_wrap contact_email_wrap pirate_forms_three_inputs  ">
                                        <label for="pirate-forms-contact-email"></label>
                                        <input id="pirate-forms-contact-email" name="pirate-forms-contact-email" required class="form-control" type="email" value="" placeholder="Your Email">
                                    </div>
                                    <div class="col-sm-4 col-lg-4 form_field_wrap contact_subject_wrap pirate_forms_three_inputs  ">
                                        <label for="pirate-forms-contact-subject"></label>
                                        <input id="pirate-forms-contact-subject" name="pirate-forms-contact-subject" required class="form-control" type="text" value="" placeholder="Subject">
                                    </div>
                                    <div class="col-sm-12 col-lg-12 form_field_wrap contact_message_wrap  ">
                                        <textarea id="pirate-forms-contact-message" name="pirate-forms-contact-message" required class="form-control" placeholder="Your message"></textarea>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-6 form_field_wrap contact_submit_wrap">
                                        <button id="pirate-forms-contact-submit" name="pirate-forms-contact-submit" class="pirate-forms-submit-button" type="submit">Send Message</button>
                                    </div>
                                    <div class="form_field_wrap hidden " style="display: none">
                                        <label for="form_honeypot">Leave blank to submit</label>
                                        <input id="form_honeypot" name="honeypot" class="form-control" type="text" value="" placeholder="">
                                    </div>
                                </form>
                                <div class="pirate_forms_clearfix"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer id="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
                <div class="container">
                    <div class="col-md-3 company-details">
                        <div class="icon-top red-text">
                            <img src="wp-content/themes/zerif-lite/images/map25-redish.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/images/map25-redish.png" alt="" />
                        </div>
                        <div class="zerif-footer-address">San Francisco - Adress - 18 California Street 1100.</div>
                    </div>
                    <div class="col-md-3 company-details">
                        <div class="icon-top green-text">
                            <img src="wp-content/themes/zerif-lite/images/envelope4-green.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/images/envelope4-green.png" alt="" />
                        </div>
                        <div class="zerif-footer-email">friends@themeisle.com</div>
                    </div>
                    <div class="col-md-3 company-details">
                        <div class="icon-top blue-text">
                            <img src="wp-content/themes/zerif-lite/images/telephone65-blue.png" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/images/telephone65-blue.png" alt="" />
                        </div>
                        <div class="zerif-footer-phone">0 332 548 987</div>
                    </div>
                    <div class="col-md-3 copyright">
                        <ul class="social">
                            <li>
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="#"><i class="fa fa-behance"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                        <p id="zerif-copyright">©Themeisle</p>
                        <div class="zerif-copyright-box">
                            <a class="zerif-copyright" href="javascript:if(confirm(%27http://themeisle.com/themes/zerif-lite/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://themeisle.com/themes/zerif-lite/%27" tppabs="http://themeisle.com/themes/zerif-lite/" target="_blank" rel="nofollow">Zerif Lite </a>powered by<a class="zerif-copyright" href="javascript:if(confirm(%27http://wordpress.org/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://wordpress.org/%27" tppabs="http://wordpress.org/" target="_blank" rel="nofollow"> WordPress</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script type='text/javascript'>
        /*  */
        var wc_add_to_cart_params = {
            "ajax_url": "\/zerif-lite\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/zerif-lite\/?wc-ajax=%%endpoint%%",
            "i18n_view_cart": "View Cart",
            "cart_url": "http:\/\/demo.themeisle.com\/zerif-lite\/cart\/",
            "is_cart": "",
            "cart_redirect_after_add": "no"
        };
        /*  */
    </script>
    <script type='text/javascript' src="wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js-ver=2.5.5.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.5.5"></script>
    <script type='text/javascript' src="wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js-ver=2.70.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70"></script>
    <script type='text/javascript'>
        /*  */
        var woocommerce_params = {
            "ajax_url": "\/zerif-lite\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/zerif-lite\/?wc-ajax=%%endpoint%%"
        };
        /*  */
    </script>
    <script type='text/javascript' src="wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js-ver=2.5.5.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.5.5"></script>
    <script type='text/javascript' src="wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js-ver=1.4.1.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1"></script>
    <script type='text/javascript'>
        /*  */
        var wc_cart_fragments_params = {
            "ajax_url": "\/zerif-lite\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/zerif-lite\/?wc-ajax=%%endpoint%%",
            "fragment_name": "wc_fragments"
        };
        /*  */
    </script>
    <script type='text/javascript' src="wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js-ver=2.5.5.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.5.5"></script>
    <script type='text/javascript' src="wp-content/themes/zerif-lite/js/bootstrap.min.js-ver=20120206.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/js/bootstrap.min.js?ver=20120206"></script>
    <script type='text/javascript' src="wp-content/themes/zerif-lite/js/jquery.knob.js-ver=20120206.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/js/jquery.knob.js?ver=20120206"></script>
    <script type='text/javascript' src="wp-content/themes/zerif-lite/js/smoothscroll.js-ver=20120206.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/js/smoothscroll.js?ver=20120206"></script>
    <script type='text/javascript' src="wp-content/themes/zerif-lite/js/scrollReveal.js-ver=20120206.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/js/scrollReveal.js?ver=20120206"></script>
    <script type='text/javascript' src="wp-content/themes/zerif-lite/js/zerif.js-ver=20120206.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/themes/zerif-lite/js/zerif.js?ver=20120206"></script>
    <script type='text/javascript' src="wp-includes/js/hoverIntent.min.js-ver=1.8.1.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-includes/js/hoverIntent.min.js?ver=1.8.1"></script>
    <script type='text/javascript'>
        /*  */
        var megamenu = {
            "effect": {
                "fade": {
                    "in": {
                        "animate": {
                            "opacity": "show"
                        },
                        "css": {
                            "display": "none"
                        }
                    },
                    "out": {
                        "animate": {
                            "opacity": "hide"
                        }
                    },
                    "speed": "fast"
                },
                "slide": {
                    "in": {
                        "animate": {
                            "height": "show"
                        },
                        "css": {
                            "display": "none"
                        }
                    },
                    "out": {
                        "animate": {
                            "height": "hide"
                        }
                    },
                    "speed": "fast"
                }
            },
            "timeout": "300",
            "interval": "100"
        };
        /*  */
    </script>
    <script type='text/javascript' src="wp-content/plugins/megamenu/js/maxmegamenu.js-ver=2.1.5.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-content/plugins/megamenu/js/maxmegamenu.js?ver=2.1.5"></script>
    <script type='text/javascript' src="wp-includes/js/wp-embed.min.js" tppabs="http://demo.themeisle.com/zerif-lite/wp-includes/js/wp-embed.min.js"></script>
</body>

</html>
<!-- This website is like a Rocket, isn't it ? Performance optimized by WP Rocket. Learn more: http://wp-rocket.me - Debug: cached@1471448135 -->