@model Customer.Models.Classes.SliderModel
<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Add Slider @TempData["err"]
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>

        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
@using (Html.BeginForm("SetSlider", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login-form" }))
            {

            <table class="table table-bordered table-hover">
                <thead>
                    <tr role="row" class="heading">
                        <th width="20%"> Resim</th>
                        <th width="25%"> Başlık</th>
                        <th width="8%"> Durum </th>

                        <th width="10%">Ayarlar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group last">

                                <div class="col-md-9">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="/assets/global/img/no_photo.png" alt="" />
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                        <div>
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new"> Select image </span>
                                                <span class="fileinput-exists"> Change </span>
                                            
                                                @Html.TextBoxFor(model => Model.filePath, new {  @type = "file" })
                                            </span>
                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            @Html.TextBoxFor(model => Model.imageDescription, new { @class = "form-control",placeholder="Resim Başlığı Yazınız?" })
                            
                        </td>
                        <td>
                             @Html.CheckBoxFor(model => Model.imageStatus, new { @class = "icheck" })
                            </td>

                        <td>
                            <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-times"></i>Add</button>


                        </td>
                    </tr>


                </tbody>
            </table>
}
        </div>
    </div>
</div>
