@model Customer.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/_Index/_Header/_slider", Model.ContactSliderModel);
<h1>contact</h1>