

@model Customer.Models.Classes.SliderModel

<section id="fh5co-hero" class="js-fullheight" style="background-image: url('@Model.filePath');" data-next="yes">

    <div class="fh5co-overlay"></div>

    <div class="container">

        <div class="fh5co-intro js-fullheight">

        </div>
    </div>
    <div class="fh5co-learn-more animate-box">
        <a href="#" class="scroll-btn">
            <span class="text">@Model.imageDescription</span>
            <span class="arrow"><i class="icon-chevron-down"></i></span>
        </a>
    </div>
</section>