@model CompanyWeb.Web.Models.PageViewModel

<div class="section-header">
    <h2 class="white-text">@Model.Title</h2>

</div>
<div class="row">
    <div class="white-text section-legend">
        @Model.Description
    </div>

</div>
